/* ================================================
               
                                     TENDERFOOT.CSS
                                 By Mitchell Renton

URL: http://mitchellrenton.com/projects/tenderfoot
VERSION: 1.0
Github: https://github.com/mitchrenton/tenderfoot.css
AUTHOR: Mitchell Renton
LICENSE: Creative Commmons
http://creativecommons.org/licenses/by/3.0       

================================================ 

Reset/Normalising - Thanks to Normalize.css http://git.io/normalize

*/

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}audio,canvas,video{display:inline-block}audio:not([controls]){display:none;height:0}[hidden]{display:none}html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}a:focus{outline:thin dotted}a:active,a:hover{outline:0}h1{font-size:2em;margin:.67em 0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:bold}dfn{font-style:italic}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}mark{background:#ff0;color:#000}code,kbd,pre,samp{font-family:monospace,serif;font-size:1em}pre{white-space:pre-wrap}q{quotes:"\201C" "\201D" "\2018" "\2019"}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-0.5em}sub{bottom:-0.25em}img{border:0}svg:not(:root){overflow:hidden}figure{margin:0}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0}button,input{line-height:normal}button,select{text-transform:none}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}
       
/* ========================
               
               ABSTRACTIONS 

======================== */

/* The media object - Thanks to Nicole Sullivan http://www.stubbornella.org/?p=497 */ 

.media,
.media-body {
  overflow: hidden;
  *overflow: visible;
  zoom: 1;
}

.media,
.media .media {
  margin-top: 15px;
}

.media:first-child {
  margin-top: 0;
}

.media-object {
  display: block;
}

.media > .pull-left {
  margin-right: 10px;
}

.media > .pull-right {
  margin-left: 10px;
}

.media-list {
  margin-left: 0;
  list-style: none;
}

/* The flag object - Thanks Harry Roberts http://csswizardry.com/2013/05/the-flag-object/ */

.flag {
  display: table;
  width: 100%;
}

.flag-image,
.flag-body {
   display: table-cell;
   vertical-align: middle;
}

.flag-top .flag-image,
.flag-top .flag-body {
   vertical-align: top;
}

.flag-bottom .flag-image,
.flag-bottom .flag-body {
   vertical-align: bottom;
}

.flag-image {
   padding-right: 10px;
}

.flag-image > img {
   display: block;
}

.flag-rev .flag-image {
   padding-right: 0;
   padding-left: 10px;
}

.flag-body {
   width: 100%;
}

/* The nav abstraction - Thanks Harry Roberts http://csswizardry.com/2011/09/the-nav-abstraction/ */

nav ul {
   list-style:none;
   margin-left:0;
}

nav ul > li,
nav ul > li > a {
   display:inline-block;
   *display:inline;
   zoom:1;
}

.breadcrumb {}

.breadcrumb li:before {
   content:"» "
}

.breadcrumb li:first-child:before {
   content:normal;
}

/* ========================
               
             HELPER CLASSES 

======================== */

.float-left {
   float: left;
}

.float-right {
   float: right;
}

.text-right {
   text-align: right;
}

.text-left {
   text-align: left;
}

.text-center {
   text-align: center;
}

.group:before,
.group:after {
    content: " ";
    display: table;
}

.group:after {
    clear: both;
}

.group {
   *zoom: 1;
}

.hide {
   display: none;
}

.seek {
  position: absolute !important;
  height: 1px; width: 1px; 
  overflow: hidden;
  *clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
}

/* ========================
               
                 TYPOGRAPHY 

======================== */

html {
   font: normal 100%/1.65 Arial, sans-serif;
}

body {
   -webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
	word-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	text-rendering: optimizeLegibility;
	margin-top: 0;
}

h1 {
   font-size: 39px;
   font-size: 2.4375rem;
   font-weight: normal;
   line-height: 1.23076923em;
   margin-bottom: .67em;
}

h2 {
   font-size: 24px;
   font-size: 1.5rem;
   line-height: 1.41666667em;
   margin-bottom: 1em;
}
   
h3 {
   font-size: 19px;
   font-size: 1.1875rem;
   line-height: 1.47368421em;
   margin-bottom: 1.2632em;
}

h4 {
   font-size: 17px;
   font-size: 1.0625rem;
   font-weight: bold;
   line-height: 1.5em;
   margin-bottom: 1.2632em;
}

h5 {
   font-size: 15px;
   font-size: .9375rem;
   text-transform: uppercase;
   line-height: 1.6em;
   margin: 0 0 1.6em;
}

p {
   font-size: 15px;
   font-size: .9375rem;
   line-height: 1.6em;
   margin: 0 0 1.6em;
   padding: 0;
}

.drop-cap:first-letter {
	float: left;
	padding: 0.125em 0.125em 0 0;
	font-size: 6em;
	font-family: Copperplate;
	line-height: 0.5em;
}

ul, ol {
   margin: 0 0 1.6em 1.41176471em;
   padding: 0;
}

li {
   font-size: 15px;
   font-size: .9375rem;
   line-height: 1.6em;
}

a {
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: underline;
}

/* ========================
               
               PRINT STYLES 

======================== */

@media print {
   * {
      color: #000 !important;
      text-shadow: none !important;
      background: transparent !important;
      box-shadow: none !important;
   }

   a,
   a:visited {
      text-decoration: underline;
   }

   a[href]:after {
      content: " (" attr(href) ")";
   }

   abbr[title]:after {
      content: " (" attr(title) ")";
   }

   a[href^="javascript:"]:after,
   a[href^="#"]:after {
      content: "";
   }

   pre,
   blockquote {
      border: 1px solid #999;
      page-break-inside: avoid;
   }

   thead {
      display: table-header-group;
   }

   tr,
   img {
      page-break-inside: avoid;
   }

   img {
      max-width: 100% !important;
   }

   @page  {
      margin: 0.5cm;
   }

   p,
   h2,
   h3 {
      orphans: 3;
      widows: 3;
   }

   h2,
   h3 {
      page-break-after: avoid;
   }
}

/* ========================
               
              GLOBAL STYLES 

======================== */
